{% extends 'base.html' %}

{% block title %}
Cторінка про мене
{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
<div class="container">
<section id="services">
        <header>
    Вміння та Навички
</header>

<div class="container">
    <div class="skills-grid">
        <div class="skill-item">
            <h2>Розробка веб-сайтів</h2>
            <p>Мені подобається займатись розробкою веб-сайтів, я практикуюсь та постійно намагаюсь розвиватись у цьому напрямку і вивчати нові технології...</p>
        </div>
        <div class="skill-item">
            <h2>Захоплення та хоббі</h2>
            <p>На даний момент вчу мови програмування такі як Python, а також покращую свої здібності в написанні сайтів, також полюбляю грати в настільний теніс.</p>
        </div>
        <div class="skill-item">
            <h2>Англійська мова</h2>
            <p>Володію англійською на рівні B1. Здатен розуміти тексти, розмовну мову носіїв і говорити у більшості випадків.</p>
        </div>
        <div class="skill-item">
            <h2>Досягнення</h2>
            <p>Кілька разів займав призові місця в онлайн турнірах по різним іграм, а також брав участь в марафоні, який проходив у Львові.</p>
        </div>
        <div class="skill-item">
            <h2>Комунікабельність</h2>
            <p>Я вважаю себе досить комунікабельним, можу поговорити з людиною на багато різних тем.</p>
        </div>
        <div class="skill-item">
            <h2>Бажання вивчати нове</h2>
            <p>Я завжди відкритий до нового, прагну розширити свій запас знань і підвищити рівень вже набутих навичок.</p>
        </div>
    </div>
</div>
    </section>
</div>
{% endblock %}
